<section id="login-form">
    <h1>log in here daddy</h1>
    <form hx-post="api/v1/users/login" hx-target="#login-form" hx-swap="outerHTML">
        <div id="email-wrap">
            <shad-input-text type="email" id="email" name="email" placeholder="Email" required="true"></shad-input-text>
        </div>
        <div>
            <shad-input-text type="password" id="password" name="password" placeholder="Password" required="true"></shad-input-text>
        </div>
        <shad-button type="submit" id="submit-new-user-form">Submit</shad-button>
        <shad-button hx-get="/views/register.html" hx-swap="outerHTML swap:1.2s" hx-target="#login-form" type="button">register</shad-button>
    </form>
    <script>
        {
            const submitButton = document.getElementById('submit-new-user-form');
            const email = document.getElementById('email');
            const password = document.getElementById('password');
        }
    </script>
</section>