* {
    box-sizing: border-box;
}
html {
    background-color: black;
}
body {
    background-color: white;
}
particle-canvas {
    z-index: 3;
}
.background-wrap {
    color: black;
    /* background-image: url("../images/white-tree.jpg"); */
    background-image: url("../images/white-tree.jpg");
    /* background-color: gray; */
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 

    z-index: -100;
    & > * {
        position: absolute;
    }

    & .gold-moon {
        z-index: 1;
        transform: rotate(340deg);
        top: max(13.18vh, 8.34vw);
        left: max(34.75vh, 21.8vw);
        width: max(6px,max(13.64vh, 8.4vw));
        height: max(6px,max(13.58vh, 8.4vw));
    }
}
