* {
    box-sizing: border-box;
}
h1, h2 {
    margin: 0;
    padding: 0;
}
.page {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px dashed rgb(4, 128, 0);
}
.sticky-page {
    position: sticky;
    top: 0;
    z-index: 2;
}
.grid-center {
    display: grid;
    place-content: center;
}

scroll-bar {
    z-index: 999;
}

particle-canvas {
    position: absolute;
    top: 0;
    z-index: 3;
}
.layer-1 {
    z-index: 10;
}
.main-content {
    position: relative;
    height: 100vh;
    width: 100vw;

    /* border: 2px solid red; */
}
.background-wrap {
    color: black;
    /* background-image: url("../images/white-tree.jpg"); */
    background-image: url("../images/white-tree.jpg");
    /* background-color: gray; */
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 

    z-index: -100;
    & > * {
        position: absolute;
    }

    & .gold-moon {
        z-index: 1;
        transform: rotate(340deg);
        top: max(13.18vh, 8.34vw);
        left: max(34.75vh, 21.8vw);
        width: max(6px,max(13.64vh, 8.4vw));
        height: max(6px,max(13.58vh, 8.4vw));
    }
}
.scroll-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    
    /* border: 2px solid blue; */

    & .page {
        transform-style: preserve-3d;
        pointer-events: none;
    } 
}
#home-page {

    & .greeting {
        position: absolute;
        top: 4em;
        left: 50%;
        pointer-events: all;
    }
}
#hire-me {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#page-1 {
    background-color: rgba(0,0,0,0.0);

    & * {
        pointer-events: all;
    }

    & span {
        font-size: 1.2rem;
    }

    & #hire-me {
        display: flex;
        flex-direction: column;
        gap: 0.75em;
    }
}
#page-2 {
    color: black;
    display: grid;
    place-content: center;
}
.scroll-page {
    & * {
        pointer-events: all;    
    }
}



.blood-skull {
    top: max(13.2vh, 8.34vw);
    left: max(34.8vh, 21.8vw);
    width: max(6px,max(13.5vh, 8.4vw));
    height: max(6px,max(13.5vh, 8.4vw));
}
.blood-skull {
    position: relative;
}

.no-mouse {
    pointer-events: none;
}
.particle-intersector {
    color: white;
    
}