scroll-container {
    position: relative;
    height: 100vh;
    & * {
        transform-style: preserve-3d;
        pointer-events: none;
    }
}
scroll-container * {

}
particle-canvas {
    position: sticky;
    top: 0;
    z-index: 1;
}

.layer-1 {
    z-index: 10;
}
.home-page {
    position: absolute;
    display: grid;
    place-content: center;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.0);

    & * {
        pointer-events: all;
    }

    & span {
        font-size: 1.2rem;
    }

    & #hire-me {
        display: flex;
        flex-direction: column;
        gap: 0.75em;
    }
}
.scroll-page-container {
    position: relative;
}
.scroll-page {
    & * {
        pointer-events: all;    
    }
}
.parallax-page {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.parallax-item {
    width: fit-content;
    position: absolute;
    transform: translateZ(-49px);
}
.background-wrap {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -100;
    pointer-events: none;

    /* background-image: url("../images/white-tree.jpg"); */
    background-image: url("../images/white-tree.jpg");
    /* background-color: gray; */
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 

    
    & > * {
        position: absolute;
    }

    & .gold-moon {
        top: 119px;
        left: 312px;
        width: 122px;
        height: 122px;
    }
}
.sun-wrap {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -50;
    
    & > * {
        position: absolute;
    }
}
.blood-skull {
    top: 120px;
    left: 314px;
    width: 120px;
    height: 120px;
}
.gold-mon {
    
}